---
import Layout from '../../../layouts/Layout.astro';

const { event, id } = Astro.params;

let siteURL = Astro.url.origin;
const response = await fetch(siteURL+`/.netlify/functions/get_event?slug=${event}`);
const photos = await response.json();
console.log("photos server: ", photos);
const photosString = JSON.stringify(photos).replaceAll("'",'&#39;');
const photoIndex = photos.findIndex((photo) => photo.filename == id);
console.log("photoIndex server: ", photoIndex);
if (photoIndex === -1){
    return Astro.redirect('./')
}

---

<Layout photo={photos[photoIndex]} id={id}>
    <section id="photos-section" data-photo-id={id} data-photos={photosString}>
        <div id="photo-container">
            <div id="prev-pic" class="navigation">
                {photoIndex === 0 ? "": <a href={photos[photoIndex-1].filename} class="navigation-link">&lArr;</a>}
            </div>
            <div id="image-container" class="full-img">
                <div id="photo-info">
                    <details>
                        <summary>Details</summary>
                        <div id="info">{photos[photoIndex].caption}<br/>{photos[photoIndex].title}<br/>{photos[photoIndex].locationName}</div>
                    </details>
                </div>
                <img id="photo" alt={photos[photoIndex].altText} src={photos[photoIndex].url}>      
            </div>
            <div id="next-pic" class="navigation">
                {photoIndex === photos.length-1 ? "": <a href={photos[photoIndex+1].filename} class="navigation-link">&rArr;</a>}
            </div>
        </div>
    </section>
</Layout>
    
<script>
    // import { detailsInit } from '../../../scripts/details.js';
    // detailsInit();
</script>
    
<style is:inline is:global>
    /* body {
    margin: 0;
    } */
    #photo-container {
        display: grid;
        place-items: center;
        grid-template-columns: 50px 1fr 50px;
        height: 100%;
    }
    .navigation {
        text-align: center
    }
    #image-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    /* #image-container img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 98vh;
    } */
    #photo-info {
    position: absolute;
    right: 0;
    margin: 5px;
    padding: 10px 17px;
    text-align: right;
    /* border-radius: 100%; */
    background-color: rgba(255,255,255,.8);
    }
    section {
        margin: auto;
        /* padding: 1.5rem; */
        /* max-width: 60ch; */
        width: 100%;
        max-width: 1000px;
    }
</style>